body {
  padding: 0px;
  margin: 0px;
  font: 14px Tahoma, sans-serif;
  background-color: white;
}

a {
  color: #00B7FF;
}

.homepage-images {
  width: 100%;
  transition: .5s;
}



#nav-listing li:hover{
  background-color: #ff9685;
}

#nav-listing > :first-child{
  border-top-left-radius: 10px;
}

#nav-listing > :last-child{
  border-bottom-left-radius: 10px;
}

#nav-listing li{
  padding: 15px 8px 8px 70px;
  transition: 0.2s;
}

#nav-listing{
  position: fixed;
  width: 0px;
  right: 0px;
  top: 0px;
  list-style: none;
  padding: 0%;
  margin: 0px; 
  line-height: 1.8em;
  text-align: right;
  transition: 0.5s;
  background-color: #bf392b;
  font: 25px bold Tahoma, sans-serif;
  border-radius: 10px 0 0 10px;
}

#nav-menu-icon.active {
  height: 50px;
  right: 150px;
  padding: 16px 20px 4px 0px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 30;
}

#nav-menu-icon{
  height: 50px;
  transition: .5s;
  right: 0;
  position: absolute;
  background-color: #bf392b;
  border-radius: 20px;
  padding: 16px 35px 4px 20px;
  border: none;
  cursor: pointer;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: #111;
  margin: 6px 0;
	border-radius: 20px;
  transition: 0.4s;
}
.active #bar1 {
  -webkit-transform: translate(0px, 11px) rotate(-45deg);
  transform: translate(0px, 11px) rotate(-45deg);
}

.active #bar2 {
  -webkit-transform: rotateY(90deg);
  -webkit-animation-delay: 1s;
  transform: rotateY(90deg);
  animation-delay: 1s;
}

.active #bar3 {
  -webkit-transform: translate(0px, -11px) rotate(45deg);
  transform: translate(0px, -11px) rotate(45deg);
}

#header-image{
  height: inherit;
  width: 124.438px ;
  transition: 0.1s;
  opacity: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

#header-image:hover{
  opacity: 0.5;
  width: auto;
}


header{
  background-color: #f28424;
  height: 70px;
  width: 100vw;
  position: fixed;
}
